body {
  background: linear-gradient(
    102.2deg,
    rgb(109, 118, 150) 7.1%,
    rgb(89, 72, 79) 14.7%,
    rgb(69, 92, 79) 28%,
    rgb(204, 85, 67) 43.4%,
    rgb(237, 181, 121) 60.2%,
    rgb(219, 230, 175) 76.8%
  );
  background-size: cover;
  font-family: "Madimi One", sans-serif;
}

.container {
  max-width: 600px;
  margin: 80px auto;
  background: whitesmoke;
  padding: 45px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
select {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-size: 20px;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 38px;
  margin: 0;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.time {
  font-size: 30px;
  font-weight: bold;
}
.time small {
  font-size: 18px;
  vertical-align: middle;
}
.date {
  opacity: 0.7;
  font-size: 18px;
  margin: 0;
  font-style: italic;
}

a {
  opacity: 0.7;
  font-weight: light;
  font-style: italic;
}
footer {
  margin: 25px auto;
  text-align: center;
  font-style: italic;
}
